<div class="info-block is-active js-info-block">
  <div class="info-block-holder">
    <div class="info-block-img">
      <img src="../img/GloryToUkraine.png" alt="Glory to Ukraine!">
    </div>
    <div class="info-block-content">
      <div class="info-block-title">Glory to Ukraine!</div>
      <div class="info-block-text">of Ukraine's heroic resistance against full-scale Russian aggression</div>
      <a href="" class="info-block-link link">See what you can do <i class="icon-top"></i></a>
    </div>
  </div>
  <button type="button" class="btn-icon info-block-close js-close-info">
    <i class="icon-close-dark"></i>
  </button>
</div>