<div class="section section-contacts">
  <div class="container">
    <div class="section-content-holder">
      <div class="section-subtitle">Contact</div>
      <div class="section-content">
        <div class="section-title">Have a project in mind?</br> Let’s get to work</div>
        <div class="section-btn">
          <button class="btn btn-primary btn-primary-icon" type="button">
  Start new project 
  <span class="btn-icon-holder"><i class="icon-arrow"></i></span>
</button>
        </div>
      </div>
    </div>
  </div>
</div>