<div class="section section-about">
  <div class="container">
    <div class="section-content-holder">
      <div class="section-subtitle">
        <div class="section-subtitle-picture">
          <img src="../../img//founders.png" alt="Founders Revend Group" width="200px" height="100px">
        </div>
        <div class="section-subtitle-text">
          <span>Founders</span>
          <span>Revend Group</span>
        </div>
      </div>
      <div class="section-content">
        <div class="section-subtitle">About us</div>
        <div class="section-title">We team design, work with companies worldwide</div>
        <div class="section-text">We are proud that our team has rich experience in creating various products for companies of different sizes and directions. We specialize in the development of websites, mobile applications, SaaS, Dashboard, Trading, CRM, Blockchain, Cryptocurrency, E-commerce, Mobile App Design, NFT and other products that help our clients grow their business.</div>
        <div class="section-btn section-btn-align-left">
          <a href="/" class="btn btn-primary btn-width-auto">
            More about us
          </a>
        </div>
      </div>
    </div>
  </div>
</div>