<div class="section section-reviews">
  <div class="container">
    <div class="section-content-holder full-width">
      <div class="section-content">
        <div class="section-title-holder">
          <div class="section-title">What our clients say about us</div>
          <div class="section-text xl-hiddin">Chances are you will be 100% satisfied with the result. 5.0 is our average.</div>
          <div class="section-btn section-btn-align-left">
            <a href="/" class="btn btn-secondary btn-primary-icon btn-width-auto">
  More reviews 
  <span class="btn-icon-holder"><i class="icon-arrow-black"></i></span>
</a>
          </div>
        </div>
        <div class="slider-container">
          <div class="review-card-info">
            <div class="card-info-title-holder">
              <div class="card-info-title-container">
                <div class="card-info-img">
                  <img src="../../img/clutch.png" alt="Clutch Revend Group" width="102px" height="28px">
                </div>
                <div class="card-info-title">
                  <span>5+ Reviews</span>
                </div>
              </div>
            </div>
            <div class="card-info-content">
              <div class="card-info-number">5.0</div>
              <div class="review-card-text">
                <span>Chances are you will be</span>
                <span>100% satisfied with the</span>
                <span>result. 5.0 is our average.</span> 
              </div>
            </div>
            <div class="swiper-buttons-holder">
              <div class="swiper-button-prev"></div>
              <div class="swiper-button-next"></div>  
            </div>  
          </div>
          <div class="swiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <a href="" class="review-card">
  <div class="review-card-title">
    <span class="title-number">5.0</span>
    <div class="star-list">
      <span class="star"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
  <mask id="mask0_1414_440" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="24" height="24">
  <rect width="24" height="24" fill="#EAFD3E"/>
  </mask>
  <g mask="url(#mask0_1414_440)">
  <path d="M5.825 22L8.15 14.4L2 10H9.6L12 2L14.4 10H22L15.85 14.4L18.175 22L12 17.3L5.825 22Z" fill="#EAFD3E"/>
  </g>
</svg>
  </span>
      <span class="star"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
  <mask id="mask0_1414_440" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="24" height="24">
  <rect width="24" height="24" fill="#EAFD3E"/>
  </mask>
  <g mask="url(#mask0_1414_440)">
  <path d="M5.825 22L8.15 14.4L2 10H9.6L12 2L14.4 10H22L15.85 14.4L18.175 22L12 17.3L5.825 22Z" fill="#EAFD3E"/>
  </g>
</svg>
  </span>
      <span class="star"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
  <mask id="mask0_1414_440" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="24" height="24">
  <rect width="24" height="24" fill="#EAFD3E"/>
  </mask>
  <g mask="url(#mask0_1414_440)">
  <path d="M5.825 22L8.15 14.4L2 10H9.6L12 2L14.4 10H22L15.85 14.4L18.175 22L12 17.3L5.825 22Z" fill="#EAFD3E"/>
  </g>
</svg>
  </span>
      <span class="star"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
  <mask id="mask0_1414_440" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="24" height="24">
  <rect width="24" height="24" fill="#EAFD3E"/>
  </mask>
  <g mask="url(#mask0_1414_440)">
  <path d="M5.825 22L8.15 14.4L2 10H9.6L12 2L14.4 10H22L15.85 14.4L18.175 22L12 17.3L5.825 22Z" fill="#EAFD3E"/>
  </g>
</svg>
  </span>
      <span class="star"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
  <mask id="mask0_1414_440" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="24" height="24">
  <rect width="24" height="24" fill="#F1F3F7"/>
  </mask>
  <g mask="url(#mask0_1414_440)">
  <path d="M5.825 22L8.15 14.4L2 10H9.6L12 2L14.4 10H22L15.85 14.4L18.175 22L12 17.3L5.825 22Z" fill="#F1F3F7"/>
  </g>
</svg>
  </span>
    </div>
  </div>
  <div class="review-card-content">
    <div class="review-card-text">
      Revend Group provides UI/UX design support to a web development agency's various projects.
      They create UI/UX designs for marketplaces, e-commerce platforms, and SaaS.
      Revend Group provides UI/UX design support to a web development agency's various projects.
    </div>
    <div class="review-card-company">Icebreaker</div>
    <div class="review-card-author">Dmitry Bilchenko</div>
  </div>
</a>
              </div>
              <div class="swiper-slide">
                <a href="" class="review-card">
  <div class="review-card-title">
    <span class="title-number">5.0</span>
    <div class="star-list">
      <span class="star"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
  <mask id="mask0_1414_440" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="24" height="24">
  <rect width="24" height="24" fill="#EAFD3E"/>
  </mask>
  <g mask="url(#mask0_1414_440)">
  <path d="M5.825 22L8.15 14.4L2 10H9.6L12 2L14.4 10H22L15.85 14.4L18.175 22L12 17.3L5.825 22Z" fill="#EAFD3E"/>
  </g>
</svg>
  </span>
      <span class="star"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
  <mask id="mask0_1414_440" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="24" height="24">
  <rect width="24" height="24" fill="#EAFD3E"/>
  </mask>
  <g mask="url(#mask0_1414_440)">
  <path d="M5.825 22L8.15 14.4L2 10H9.6L12 2L14.4 10H22L15.85 14.4L18.175 22L12 17.3L5.825 22Z" fill="#EAFD3E"/>
  </g>
</svg>
  </span>
      <span class="star"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
  <mask id="mask0_1414_440" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="24" height="24">
  <rect width="24" height="24" fill="#EAFD3E"/>
  </mask>
  <g mask="url(#mask0_1414_440)">
  <path d="M5.825 22L8.15 14.4L2 10H9.6L12 2L14.4 10H22L15.85 14.4L18.175 22L12 17.3L5.825 22Z" fill="#EAFD3E"/>
  </g>
</svg>
  </span>
      <span class="star"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
  <mask id="mask0_1414_440" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="24" height="24">
  <rect width="24" height="24" fill="#EAFD3E"/>
  </mask>
  <g mask="url(#mask0_1414_440)">
  <path d="M5.825 22L8.15 14.4L2 10H9.6L12 2L14.4 10H22L15.85 14.4L18.175 22L12 17.3L5.825 22Z" fill="#EAFD3E"/>
  </g>
</svg>
  </span>
      <span class="star"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
  <mask id="mask0_1414_440" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="24" height="24">
  <rect width="24" height="24" fill="#F1F3F7"/>
  </mask>
  <g mask="url(#mask0_1414_440)">
  <path d="M5.825 22L8.15 14.4L2 10H9.6L12 2L14.4 10H22L15.85 14.4L18.175 22L12 17.3L5.825 22Z" fill="#F1F3F7"/>
  </g>
</svg>
  </span>
    </div>
  </div>
  <div class="review-card-content">
    <div class="review-card-text">
      Revend Group provides UI/UX design support to a web development agency's various projects.
      They create UI/UX designs for marketplaces, e-commerce platforms, and SaaS.
      Revend Group provides UI/UX design support to a web development agency's various projects.
    </div>
    <div class="review-card-company">Icebreaker</div>
    <div class="review-card-author">Dmitry Bilchenko</div>
  </div>
</a>
              </div>
              <div class="swiper-slide">
                <a href="" class="review-card">
  <div class="review-card-title">
    <span class="title-number">5.0</span>
    <div class="star-list">
      <span class="star"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
  <mask id="mask0_1414_440" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="24" height="24">
  <rect width="24" height="24" fill="#EAFD3E"/>
  </mask>
  <g mask="url(#mask0_1414_440)">
  <path d="M5.825 22L8.15 14.4L2 10H9.6L12 2L14.4 10H22L15.85 14.4L18.175 22L12 17.3L5.825 22Z" fill="#EAFD3E"/>
  </g>
</svg>
  </span>
      <span class="star"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
  <mask id="mask0_1414_440" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="24" height="24">
  <rect width="24" height="24" fill="#EAFD3E"/>
  </mask>
  <g mask="url(#mask0_1414_440)">
  <path d="M5.825 22L8.15 14.4L2 10H9.6L12 2L14.4 10H22L15.85 14.4L18.175 22L12 17.3L5.825 22Z" fill="#EAFD3E"/>
  </g>
</svg>
  </span>
      <span class="star"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
  <mask id="mask0_1414_440" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="24" height="24">
  <rect width="24" height="24" fill="#EAFD3E"/>
  </mask>
  <g mask="url(#mask0_1414_440)">
  <path d="M5.825 22L8.15 14.4L2 10H9.6L12 2L14.4 10H22L15.85 14.4L18.175 22L12 17.3L5.825 22Z" fill="#EAFD3E"/>
  </g>
</svg>
  </span>
      <span class="star"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
  <mask id="mask0_1414_440" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="24" height="24">
  <rect width="24" height="24" fill="#EAFD3E"/>
  </mask>
  <g mask="url(#mask0_1414_440)">
  <path d="M5.825 22L8.15 14.4L2 10H9.6L12 2L14.4 10H22L15.85 14.4L18.175 22L12 17.3L5.825 22Z" fill="#EAFD3E"/>
  </g>
</svg>
  </span>
      <span class="star"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
  <mask id="mask0_1414_440" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="24" height="24">
  <rect width="24" height="24" fill="#F1F3F7"/>
  </mask>
  <g mask="url(#mask0_1414_440)">
  <path d="M5.825 22L8.15 14.4L2 10H9.6L12 2L14.4 10H22L15.85 14.4L18.175 22L12 17.3L5.825 22Z" fill="#F1F3F7"/>
  </g>
</svg>
  </span>
    </div>
  </div>
  <div class="review-card-content">
    <div class="review-card-text">
      Revend Group provides UI/UX design support to a web development agency's various projects.
      They create UI/UX designs for marketplaces, e-commerce platforms, and SaaS.
      Revend Group provides UI/UX design support to a web development agency's various projects.
    </div>
    <div class="review-card-company">Icebreaker</div>
    <div class="review-card-author">Dmitry Bilchenko</div>
  </div>
</a>
              </div>
              <div class="swiper-slide">
                <a href="" class="review-card">
  <div class="review-card-title">
    <span class="title-number">5.0</span>
    <div class="star-list">
      <span class="star"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
  <mask id="mask0_1414_440" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="24" height="24">
  <rect width="24" height="24" fill="#EAFD3E"/>
  </mask>
  <g mask="url(#mask0_1414_440)">
  <path d="M5.825 22L8.15 14.4L2 10H9.6L12 2L14.4 10H22L15.85 14.4L18.175 22L12 17.3L5.825 22Z" fill="#EAFD3E"/>
  </g>
</svg>
  </span>
      <span class="star"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
  <mask id="mask0_1414_440" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="24" height="24">
  <rect width="24" height="24" fill="#EAFD3E"/>
  </mask>
  <g mask="url(#mask0_1414_440)">
  <path d="M5.825 22L8.15 14.4L2 10H9.6L12 2L14.4 10H22L15.85 14.4L18.175 22L12 17.3L5.825 22Z" fill="#EAFD3E"/>
  </g>
</svg>
  </span>
      <span class="star"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
  <mask id="mask0_1414_440" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="24" height="24">
  <rect width="24" height="24" fill="#EAFD3E"/>
  </mask>
  <g mask="url(#mask0_1414_440)">
  <path d="M5.825 22L8.15 14.4L2 10H9.6L12 2L14.4 10H22L15.85 14.4L18.175 22L12 17.3L5.825 22Z" fill="#EAFD3E"/>
  </g>
</svg>
  </span>
      <span class="star"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
  <mask id="mask0_1414_440" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="24" height="24">
  <rect width="24" height="24" fill="#EAFD3E"/>
  </mask>
  <g mask="url(#mask0_1414_440)">
  <path d="M5.825 22L8.15 14.4L2 10H9.6L12 2L14.4 10H22L15.85 14.4L18.175 22L12 17.3L5.825 22Z" fill="#EAFD3E"/>
  </g>
</svg>
  </span>
      <span class="star"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
  <mask id="mask0_1414_440" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="24" height="24">
  <rect width="24" height="24" fill="#F1F3F7"/>
  </mask>
  <g mask="url(#mask0_1414_440)">
  <path d="M5.825 22L8.15 14.4L2 10H9.6L12 2L14.4 10H22L15.85 14.4L18.175 22L12 17.3L5.825 22Z" fill="#F1F3F7"/>
  </g>
</svg>
  </span>
    </div>
  </div>
  <div class="review-card-content">
    <div class="review-card-text">
      Revend Group provides UI/UX design support to a web development agency's various projects.
      They create UI/UX designs for marketplaces, e-commerce platforms, and SaaS.
      Revend Group provides UI/UX design support to a web development agency's various projects.
    </div>
    <div class="review-card-company">Icebreaker</div>
    <div class="review-card-author">Dmitry Bilchenko</div>
  </div>
</a>
              </div>
            </div>
            <div class="swiper-pagination"></div>              
          </div>          
        </div>
      </div>
    </div>
  </div>
</div>