<footer class="footer">
  <div class="container">
    <div class="footer-content">
      <div class="footer-top">
        <a href="/" class="logo">
          @@include('../components/content/logo.html')
        </a>
      </div>
      <div class="footer-middle">
        <a href="mailto:start@revend.group">start@revend.group</a>
        <a href="tel:+380500123456">+38 050 012 34 56</a>       
      </div>
      <div class="footer-address">
        <address>
          46 Nauki Ave., Kharkiv,  Ukraine 61072
        </address>
      </div>
      <div class="footer-bottom">
        <div class="footer-bottom-item">
          <span>© Revend 2023. All Rights Reserved.</span>
        </div>
        <div class="footer-bottom-item">
          <ul>
            <li><a href="">Behance</a></li>
            <li><a href="">Dribbble</a></li>
            <li><a href="">Facebook</a></li>
            <li><a href="">Instagram</a></li>
            <li><a href="">LinkedIn</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- <span class="back-to-top"><i class="icon-up"></i></span> -->
<script src="../js/libs-min.js"></script>
<script src="../js/main-min.js"></script>