<footer class="footer">
  <div class="container">
    <div class="footer-content">
      <div class="footer-top">
        <a href="/" class="logo">
          @@include('../components/content/logo.html')
        </a>
      </div>
      <div class="footer-middle-text">
        <div class="footer-info">Expand and strengthen design teams</div>
      </div>
      <div class="footer-row">
        <div class="footer-col col-xs-12">
          <div class="footer-col-title text-secondary">
            Lets talk
          </div>
        </div>
        <div class="footer-col">
          <div class="footer-col-title text-secondary">
            Email
          </div>
          <div class="footer-col-info">
            <a href="mailto:info@revend.group" >info@revend.group</a>
          </div>    
        </div>
        <div class="footer-col">
          <div class="footer-col-title text-secondary">
            Location
          </div>
          <div class="footer-col-info">
            <address>Kharkiv, Ukraine</address>
          </div>  
        </div>
      </div>
      <div class="footer-bottom">
        <div class="footer-bottom-item">
          <span>All Rights Reserved.</span>
        </div>
        <div class="footer-bottom-item">
          <ul>
            <li><a href="">Clutch</a></li>
            <li><a href="">LinkedIn</a></li>
            <li><a href="">Instagram</a></li>
            <li><a href="">Dribbble</a></li>
            <li><a href="">Facebook</a></li>
            <li><a href="">Behance</a></li>         
          </ul>
        </div>
        <div class="footer-bottom-item">
          <span>© Revend 2024</span>
        </div>
      </div>
    </div>
  </div>
</footer>
<script src="../js/libs-min.js"></script>
<script src="../js/main-min.js"></script>