<header class="header header-sticky">
  <div class="container">
    <div class="header-content">
      <div class="header-logo">
        <a href="home-page.html" class="logo">
          @@include('../components/content/logo.html')
        </a>
      </div>
      <div class="header-nav-holder">
        <div class="header-nav-head">
          <div class="header-logo">
            <a href="home-page.html" class="logo">
              @@include('../components/content/logo.html')
            </a>
          </div>
          <button type="button" class="burger-button-close js-close-menu">
            <i class="icon-burger-close"></i>
          </button>
        </div>
        <ul class="header-nav">
          <li><a href="home-page.html" class="active">Home</a></li>
          <li><a href="cases.html">Cases</a></li>
          <li><a href="market.html">Market</a></li>
          <li><a href="about.html">About</a></li>
          <li><a href="contacts.html">Contact</a></li>
        </ul>
        <div class="header-nav-btn">
          <button class="btn btn-primary full-width" type="button">Start new project</button>
        </div>
      </div>

    </div>
  </div>  

  <button type="button" class="burger-button js-open-menu">
    <i class="icon-burger"></i>
  </button>
</header>
