.footer {
  background-color: $bgFooter;
  color: $white;
  padding: 60px 0 24px;
  .logo {
    width: 192px;
    height: 22px;
  }
  a {
    color: $white;
    display: inline-flex;
  }
  address {
    font-style: normal;
  }
  &-address {
    color: $greyLight;
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 60px;
  }
  &-middle {
    font-size: 28px;
    line-height: 34px;
    display: flex;
    flex-direction: column;
    font-family: $ftRegular;
    margin-bottom: 134px;
    a {
      margin-bottom: 24px;
    }
  }

  &-top {
    margin-bottom: 40px;
    height: 20px;
  }
  &-address {
    font-family: $ftRegular;
  }
  &-bottom {
    font-size: 16px;
    line-height: 24px;
    color: $grey2;
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      flex-wrap: wrap;
    }
    li {
      min-width: 76px;
      margin-right: 42px;
      margin-top: 16px;
      font-size: 16px;
      line-height: 19px;
    }
    a {
      color: $grey1;
    }
  }
  .logo {
    svg {
      fill: $white;
    }
  }
}

@media(min-width: $xl) {
  .footer {
    padding-top: 50px;
    padding-bottom: 40px;
    &-top {
      margin-bottom: 69px;
    }
    &-middle {
      flex-direction: row;
      flex-wrap: wrap;
      margin-bottom: 226px;
      font-size: 36px;
      line-height: 44px;
      a {
        margin: 0 120px 0 0;
        &:last-child {
          margin-right: 0;
        }
      }
    }
    &-address {
      font-size: 26px;
      line-height: 27px;
      margin-bottom: 143px;
    }
    &-bottom {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      &-item {
        width: auto;
        &:first-child {
          margin-right: auto;
        }
      }
      li {
        min-width: 20px;
        margin: 0 0 0 32px;
      }
    }
  }
}

// new styles 08.06.2024
.footer .logo {
  width: 192px;
  height: 22px;
}
.footer-content {
  border-top: 2px solid #828282;
  padding-top: 60px;
}
.footer-info {
  font-size: 32px;
  line-height: 44px;
  max-width: 353px;
}
.footer-row {
  display: flex;
  flex-wrap: wrap;
  gap: 32px 16px;
  margin-bottom: 60px;
}
.footer-col {
  width: calc(50% - 16px);
}
.footer-col.col-xs-12 {
  width: 100%;
}
.footer-col-info {
  color: white;
  font-size: 16px;
  line-height: 22px;
}
.footer-col-title {
  line-height: 22px;
  font-size: 16px;
}
.footer-middle-text {
  margin-bottom: 60px;
}
.text-secondary {
  color: $grey;
}
.footer-col-info {
  margin-top: 8px;
}
.footer-col-info a {
  color: $white;
}
.footer-bottom {
  margin-bottom: 50px;
}
.footer-bottom li  {
  min-width: auto;
  margin: 0 16px 16px 0;
  line-height: 20px;
}
.footer-bottom-item {
  margin-top: 24px;
}
.footer-bottom-item:last-child {
  margin-top: 12px;
}
@media(min-width: $xl) {
  .footer-top {
    margin-bottom: 145px;
  }
  .footer-content {
    padding-top: 80px;
  }
  .footer-info {
    margin-left: calc(50% + 16px);
  }
  .footer-col.col-xs-12,
  .footer-col {
    width: calc(25% - 8px);
  }
  .footer-middle-text {
    margin-bottom: 124px;
  }
  .footer-row {
    margin-bottom: 120px;
  }
  .footer-bottom li {
    margin-bottom: 0;
  }
  .footer-bottom-item,
  .footer-bottom-item:last-child {
    margin-top: 0;
  }
  .footer-bottom-item:last-child {
    margin-left: 46px;
  }
}