i[class^="icon-"] {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-repeat: no-repeat;
  vertical-align: middle;  
  width: 24px;
  height: 24px;
}
.icon {
  &-close {
    background-image: url("../img/icons/close.svg");
  }
  &-burger {
    background-image: url("../img/icons/burger.svg");
  }
}

