.info-block {
  position: fixed;
  right: 16px;
  left: 16px;
  bottom: 16px;
  background: $white;
  box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  padding: 16px 36px 16px 16px;
  max-width: 531px;
  display: none;
  &.is-active {
    display: block;
    z-index: 1;
  }
  &-title {
    font-family: $ftMedium;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 8px;
  }
  &-text {
    font-size: 14px;
    line-height: 21px;
    color: $fontColorSecondary;
    display: -webkit-box;
    -webkit-line-clamp: 2; // количество строк
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-bottom: 4px;
  }
  &-holder {
    gap: 8px;
    display: grid;
    grid-template-columns: 40px 1fr;
  }
  &-close {
    position: absolute;
    top: 8px;
    right: 8px;
    z-index: 2;
  }
  &-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    display: inline-flex;
    align-items: center;
    i {
      margin-left: 5px;
    }
  }
}
@media (min-width: $sm) {
  .info-block {
    left: auto;
  }
}
@media (min-width: $xl) {
  .info-block {
    right: 24px;
    bottom: 44px;
    padding: 24px;
    &-holder {
      gap: 24px;
      grid-template-columns: 70px 1fr;
    }
    &-title {
      font-size: 24px;
      line-height: 30px;
      margin-bottom: 12px;
    }
    &-text {
      font-size: 18px;
      line-height: 170%;
      margin-bottom: 12px;
    }
    &-close {
      top: 10px;
      right: 10px;
    }
  }
}