.section {
  .section-content-holder {
    padding: 60px 0;
  }
  & + .section {
    .section-content-holder {
      border-top: 2px solid $black;
    }
  }
  .btn {
    width: 100%;
    max-width: 600px;
  }
  &-main {
    padding: 60px 0;
    .section {
      &-title {
        max-width: 1000px;
      }
      &-text {
        max-width: 1000px;
      }
    }
  }
  &-title {
    font-family: $ftMedium;
    font-weight: 500;
    font-size: 36px;
    line-height: 44px;
    margin-bottom: 16px;
  }
  &-text {
    margin-bottom: 24px;
    font-size: 18px;
    line-height: 170%;
    color: $grey;
    p {
      margin: 0;
      & + p {
        margin-top: 16px;
      }
    }
  }
  &-btns {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  &-subtitle {
    font-family: $ftMedium;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 16px;
  }
  &-list {
    font-family: $ftMedium;
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      border-bottom: 1px solid $grey;
      margin-bottom: 20px;
      &:last-child {
        margin-bottom: 0;
      }
    }
    a {
      color: $black;
      font-size: 26px;
      line-height: 32px;
      padding: 16px 0;
      display: inline-flex;
      width: 100%;
    }
  }
  &-btn {
    text-align: center;
  }
  &-projects {
    padding-bottom: 60px;
    .section-btn {
      margin-bottom: 32px;
    }
    .section-content-holder {
      padding-bottom: 0;
    }
  }
  &-center {
    .section-content {
      padding: 60px 0 8px;
    }
  }
  &-contacts {
    .section-title {
      margin-bottom: 24px;
    }
  }
}

@media (min-width: $md) {
  .section-btns {
    flex-direction: row;
  }
}

@media(min-width: $xl) {
  .section {
    .section-content-holder {
      padding: 100px 0;
    }
    .btn {
      width: auto;
    }
    &-subtitle {
      margin-top: 30px;
    }
    &-title {
      font-size: 72px;
      line-height: 89px;
    }
    &-text {
      font-size: 20px;
      margin-bottom: 32px;
    }
    &-main {
      padding-top: 235px;
    }
    &-list {
      a:hover {
        padding-left: 12px;
      }
    }
    &-content-holder {
      display: grid;
      gap: 20px;
      grid-template-columns: 320px 1fr;
    }
    &-subtitle {
      font-size: 24px;
      line-height: 30px;
    }
    &-list {
      a {
        font-size: 32px;
        line-height: 39px;
      }
    }
    &-btn {
      margin-top: 30px;
      text-align: left;
    }
    &-content-top {
      display: grid;
      grid-template-columns: 1fr max-content;
      gap: 20px;
    }
    &-projects {
      padding-bottom: 100px;
      .section-btn {
        margin-top: 20px;
      }
      .section-content-holder {
        padding-bottom: 0;
      }
    }
    &-contacts {
      .section-btn {
        text-align: left;
      }
    }
    &-center {
      .section-content {
        text-align: center;
        max-width: 870px;
        margin: 0 auto;
        padding-top: 160px;
      }
    }
  }
}