// Colors
$white: #ffffff;
$black: #26272C;
$greyLight: #C3C6CB;
$grey: #828282;
$grey1: #9C9FA5;
$grey2: #707070;


// Fonts
$ftRegular: 'ClashDisplay-Regular', sans-serif;
$ftMedium: 'ClashDisplay-Medium', sans-serif;
$ftInter: 'Inter', sans-serif;

$fontColor: $black;
$fontColorSecondary: $grey;

$burgerColor: $black;

// Bg
$bgDark: $black;
$bgFooter: $bgDark;

// Media 
$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;