<div class="product-item" data-aos="zoom-in"  data-aos-duration="2000">
  <a href="" class="product-link">
    <div class="product-img">
      <picture>
        <source media="(max-width: 576px)" srcset="@@imgSrcSm" />
        <source media="(min-width: 577px)" srcset="@@imgSrc" />
        <img src="@@imgSrc" loading="lazy" alt="Revend product image" />
      </picture>
    </div>
    <div class="product-name">
      <span class="product-name-title">@@title</span>
      <i class="icon-top"></i>
    </div>
  </a>
</div>