<a href="" class="review-card">
  <div class="review-card-title">
    <span class="title-number">5.0</span>
    <div class="star-list">
      <span class="star">@@include('icon-star.html', { color: '#EAFD3E'})</span>
      <span class="star">@@include('icon-star.html', { color: '#EAFD3E'})</span>
      <span class="star">@@include('icon-star.html', { color: '#EAFD3E'})</span>
      <span class="star">@@include('icon-star.html', { color: '#EAFD3E'})</span>
      <span class="star">@@include('icon-star.html', { color: '#F1F3F7'})</span>
    </div>
  </div>
  <div class="review-card-content">
    <div class="review-card-text">
      Revend Group provides UI/UX design support to a web development agency's various projects.
      They create UI/UX designs for marketplaces, e-commerce platforms, and SaaS.
      Revend Group provides UI/UX design support to a web development agency's various projects.
    </div>
    <div class="review-card-company">Icebreaker</div>
    <div class="review-card-author">Dmitry Bilchenko</div>
  </div>
</a>