<div class="section section-main">
  <div class="container">
    <div class="section-title">
      Web, desktop and mobile platforms, SaaS, Dashboard
    </div>
    <div class="section-text">
      We create captivating projects for startups and technology companies by combining our extensive experience and clients' business goals
    </div>
    <div class="section-btns">
      @@include('btn-primary-icon.html', {
        btnText: 'Start new project'
      })
      @@include('btn-secondary.html', {
        btnText: 'View our work'
      })
    </div>
  </div>
</div>