<div class="section section-hero section-inner-indent">
  <div class="container">
    <div class="section-text align-center">
      Your Agency's Trusted White Label
    </div>
    <div class="section-title align-center">
      Expand and strengthen design teams
    </div>
    <div class="hero-advantages">
      <ul class="advantages-list">
        <li class="advantages-list-item">We organize design processes</li>
        <li class="advantages-list-item">Accelerate the product's time to market </li>
        <li class="advantages-list-item">Manage projects to the final approval</li>
      </ul>
    </div>
    <div class="section-btns jc-center">
      <a href="" class="btn btn-primary" type="button">Start new project</a>
      @@include('btn-secondary.html', {
        btnText: 'About the partnership'
      })
    </div>
    <div class="hero-brands">
      <ul class="brands-list">
        <li class="brands-list-item">
          <img width="210px" height="100px" src="../../img//companies/icebreaker.png" alt="Icebreaker">
        </li>
        <li class="brands-list-item">
          <img width="210px" height="100px" src="../../img//companies/familylab.png" alt="Family lab">
        </li>
        <li class="brands-list-item">
          <img width="210px" height="100px" src="../../img//companies/proimprover.png" alt="Pro improver">
        </li>
        <li class="brands-list-item">
          <img width="210px" height="100px" src="../../img//companies/abovebits.png" alt="Above bits">
        </li>
        <li class="brands-list-item">
          <img width="210px" height="100px" src="../../img//companies/wowcatering.png" alt="Wow catering">
        </li>
        <li class="brands-list-item">
          <img width="210px" height="100px" src="../../img//companies/billboards.png" alt="Bill boards">
        </li>
      </ul>
    </div>
  </div>
</div>