<div class="section section-services">
  <div class="container">
    <div class="section-content-holder">
      <div class="section-subtitle">Services</div>
      <div class="section-content">
        <div class="section-title">What can we do for you</div>
        <div class="section-text">We offer a wide variety of services covering a wide range of our clients' needs</div>
        <ul class="section-list">
          <li data-aos="fade-right"><a href="">Product Design</a></li>
          <li data-aos="fade-right"><a href="">Websites design</a></li>
          <li data-aos="fade-right"><a href="">Mobile applications design</a></li>
          <li data-aos="fade-right"><a href="">Design System</a></li>
          <li data-aos="fade-right"><a href="">Web applications design</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>