<div class="section section-main">
  <div class="container">
    <div class="section-title">
      Web, desktop and mobile platforms, SaaS, Dashboard
    </div>
    <div class="section-text">
      We create captivating projects for startups and technology companies by combining our extensive experience and clients' business goals
    </div>
    <div class="section-btns">
      <button class="btn btn-primary btn-primary-icon" type="button">Start new project <i class="icon-arrow"></i></button>
      <button class="btn btn-secondary" type="button">View our work</button>
    </div>
  </div>
</div>