<div class="section section-team">
  <div class="container">
    <div class="section-content-holder">
      <div class="section-subtitle">Team</div>
      <div class="section-content">
        <div class="section-title">Our professionals</div>
        <div class="section-text">All members of our team have a decent level of knowledge and experience, which allows us to create high quality products and achieve success in our projects.</div>
        <ul class="team-list">
          <li class="team-item">
            <a href="" class="team-item-link">
  <div class="team-item-row">
    <span class="team-item-name">Vlad Musienko</span>
    <span class="team-item-info">Founder / Chief Product Designer</span>
  </div>
  <div class="team-item-img">
    <img src="../img/photo-01.jpg" alt="Vlad Musienko">
  </div>
</a>
          </li>
          <li class="team-item">
            <a href="" class="team-item-link">
  <div class="team-item-row">
    <span class="team-item-name">Anastasia Musienko</span>
    <span class="team-item-info">Co-founder / Art-director</span>
  </div>
  <div class="team-item-img">
    <img src="../img/AnastasiaMusienko.jpg" alt="Anastasia Musienko">
  </div>
</a>
          </li>
          <li class="team-item">
            <a href="" class="team-item-link">
  <div class="team-item-row">
    <span class="team-item-name">Alyona Kulish</span>
    <span class="team-item-info">UX/UI Designer</span>
  </div>
  <div class="team-item-img">
    <img src="../img/AlyonaKulish.jpg" alt="Alyona Kulish">
  </div>
</a>
          </li>
          <li class="team-item">
            <a href="" class="team-item-link">
  <div class="team-item-row">
    <span class="team-item-name">Diana Kalinushkina</span>
    <span class="team-item-info">UI Designer</span>
  </div>
  <div class="team-item-img">
    <img src="../img/DianaKalinushkina.jpg" alt="Diana Kalinushkina">
  </div>
</a>
          </li>
        </ul>
        <div class="section-btn">
          <button class="btn btn-secondary" type="button">I want to join your team</button>
        </div>
      </div>
    </div>
  </div>
</div>