<div class="section section-projects">
  <div class="container">
    <div class="section-content-holder">
      <div class="section-subtitle">Projects</div>
      <div class="section-content">
        <div class="section-content-top">
          <div class="section-content-col">
            <div class="section-title">More cases</div>
            <div class="section-text">We are proud of our work and are happy to share the portfolio of our projects that we have created for our clients around the world</div>
          </div>
          <div class="section-content-col">
            <div class="section-btn">
              <button class="btn btn-primary btn-primary-icon" type="button">More cases <i class="icon-arrow"></i></button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="product-list">
      <div class="product-item">
  <a href="" class="product-link">
    <div class="product-img">
      <img src="../../img//img-01.jpg" alt="Product img">
    </div>
    <div class="product-name">
      <span>PNSwap – token exchange platform</span>
      <i class="icon-top"></i>
    </div>
  </a>
</div>
      <div class="product-item">
  <a href="" class="product-link">
    <div class="product-img">
      <img src="../../img//img-02.jpg" alt="Product img">
    </div>
    <div class="product-name">
      <span>PNSwap – token exchange platform</span>
      <i class="icon-top"></i>
    </div>
  </a>
</div>
      <div class="product-item">
  <a href="" class="product-link">
    <div class="product-img">
      <img src="../../img//img-03.jpg" alt="Product img">
    </div>
    <div class="product-name">
      <span>PNSwap – token exchange platform</span>
      <i class="icon-top"></i>
    </div>
  </a>
</div>
      <div class="product-item">
  <a href="" class="product-link">
    <div class="product-img">
      <img src="../../img//img-04.jpg" alt="Product img">
    </div>
    <div class="product-name">
      <span>PNSwap – token exchange platform</span>
      <i class="icon-top"></i>
    </div>
  </a>
</div>
    </div>
  </div>
</div>